# BoDi (Born-Digital Module) 
# Contact: @LuciaGiagnolini12
# Repository: https://github.com/LuciaGiagnolini12/bodi

RewriteEngine on
RewriteRule ^(.*)$ https://raw.githubusercontent.com/LuciaGiagnolini12/bodi/main/ontology/bodi.html$1 [R=302,L]
